<%= link_to 'Go Back', :back %>
<% @album.artists(country: 'US').each do |artist| %>
	<h3><%= artist.name %></h3>
<% end %>
<ul>
	<% @album.tracks.each do |track| %>
	<li>
	   <%= track.name %>
	   <%= link_to "Preview Track", track.preview_url %>
	</li>
	<% end %>
</ul>

